@import '../../../scss/mixins';

.bookCounter {
  background: white;
  display: flex;
  flex-direction: column;
  gap: 55px;
  padding-bottom: 55px;
  max-width: 100%;
  @include for-size(tablet-only) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    gap: 25px;
    padding: 20px 25px 8px 25px;
  }
  @include for-size(mobile-only) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding: 0;
    padding-bottom: 55px;
  }
}

.subheaderWrap {
  min-width: 270px;
}

.counters {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;

  @include for-size(tablet-only) {
    gap: 35px;
  }
  @include for-size(mobile-only) {
    gap: 5px;
    justify-content: space-around;
  }
}
