@import '../../../scss/container';
@import '../../../scss/mixins';
@import '../../../scss/variables';

.wrapper {
  @include for-size(tablet) {
    width: 594px;
    margin: 0 auto;
  }
  @include for-size(desktop) {
    width: 1117px;
  }
}

.form {
  @include for-size(desktop) {
    display: grid;
    grid-template-columns: 346px 540px auto;
    column-gap: 15px;
  }
}

.inputWrapper > label {
  color: $secondary-text-color;
}

.inputsTablet {
  @include for-size(tablet) {
    display: flex;
    justify-content: space-between;
  }
  @include for-size(desktop) {
    display: grid;
    grid-template-columns: 250px 130px 130px;
    column-gap: 15px;
    // justify-content: space-between;
  }
}

.wrapperAuthor {
  @include for-size(tablet) {
    width: 240px;
  }
}

.inputWrapper > label > input {
  background-color: $txt-color-white;
}

.btn {
  align-self: center;
  justify-self: end;
}

.addBtn {
  display: block;
  margin: 0 auto;
  border: 1px solid $primary-text-color;
  padding: 12px 70px;
  cursor: pointer;
  background-color: $bg-color-blue;
  text-align: center;
  transition: all 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  @include for-size(desktop) {
    margin: 0;
    display: flex;
  }
}

.addBtn:hover {
  box-shadow: $active-shadow;
  border-color: $accent-color;
}

.inputWrapper {
  position: relative;
}

.notification {
  position: absolute;
  bottom: -20px;
  left: 10px;
  text-align: start;
  color: rgb(184, 0, 0);

  @include for-size(tablet) {
    bottom: 0;
  }
}
