@import '../../scss/variables';

.navWrapper {
  display: flex;
  color: $accent-color;
}

.navLink {
  margin-left: 10px;
  color: $secondary-text-color;
  transition: all $cubic;
  &:hover {
    color: $hover-color;
  }
  &:last-child {
    padding-left: 10px;
    border-left: 1px solid $accent-color;
  }
}
