@import '../../scss/variables.scss';

.navWrapper {
  display: flex;
  color: $accent-color;
}

.navLink {
  margin-left: 10px;
  color: $secondary-text-color;
}

.navLink:hover {
  color: $hover-color;
}

.navLink:last-child {
  padding-left: 10px;
  border-left: 1px solid $accent-color;
}
