@import '../../../scss/mixins';

.bookCounter {
  width: 100%;
  max-width: 270px;
  min-height: 318px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  padding-bottom: 55px;
  background: white;
  box-shadow: 0px 2px 3px rgba(9, 30, 63, 0.1);

  @include for-size(tablet-only) {
    max-width: 678px;
    min-height: 125px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px 25px 8px 25px;
  }
  @include for-size(desktop) {
    max-width: 275px;
    min-height: 318px;
    flex-direction: column;
    gap: 55px;
    padding-bottom: 55px;
  }
}

.subheaderWrap {
  width: 100%;
}

.counters {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;

  @include for-size(tablet-only) {
    gap: 35px;
  }
  @include for-size(mobile-only) {
    gap: 5px;
    justify-content: space-around;
  }
}

.subheader {
  height: 60px;
  background: #b1b5c2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.subheaderText {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 38px;
  color: #ffffff;
}
