@import '../../scss/variables';
@import '../../scss/mixins';

.wrapper {
  display: flex;
  align-items: center;
  height: 30px;
  min-width: 47px;
  position: absolute;
  z-index: 3;
  right: 5px;
  top: 63px;
  border-radius: 8px;
  background-color: $txt-color-white;
  box-shadow: $outer-shadow;
}

.list {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  cursor: pointer;
  min-width: 36px;
  max-height: 30px;
  position: absolute;
  padding-top: 5px;
  top: 0px;
  right: 0;
  transition: all 0.3s ease;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 26px;
    height: 0%;
    box-shadow: 0 4px 12px 0 transparent;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    border-radius: 6px;
    background: 0 0;
    box-shadow: none;
  }
  &.open {
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 10%);
    background-color: $txt-color-white;
    box-shadow: $outer-shadow;
    max-height: unset;
    &::before {
      height: 100%;
      box-shadow: 0 4px 12px 0 rgb(0 0 0 / 10%);
    }

    button {
      line-height: 1;
      margin: 4px 0;
      display: flex;
      opacity: 1;
      cursor: pointer;
      &.active {
        &::after {
          transform: translateY(-80%) scaleY(-1.1) rotate(45deg);
        }
      }
      &:not(.active) {
        width: 100%;
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}

.lang {
  border: none;
  background: transparent;
  text-transform: uppercase;
  position: relative;
  transition: all 0.3s ease;
  width: 100%;
  z-index: 5;
  color: $secondary-text-color;
  cursor: pointer;
  display: flex;
  gap: 4px;

  &:hover {
    color: $hover-color;
  }
  span {
    opacity: 0;
  }
  &.active {
    order: -1;
    pointer-events: all;
    &::after {
      opacity: 1;
      transform: translateY(-70%) scaleY(1.1) rotate(45deg);
    }
    span {
      opacity: 1;
    }
  }
  &:not(.active) {
    width: 0%;
    pointer-events: none;
    opacity: 0;
  }
  @media screen and (min-width: 768px) {
    line-height: 0.9;
  }
}
