@import '../../../scss/variables';
@import '../../../scss/mixins';

.wrapper {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding-top: 50px;
  @include for-size(tablet-only) {
    flex-direction: column;
    padding-top: 30px;
  }
/*   @media (max-width: 1279px) {
    flex-direction: column;
    padding-top: 30px;
  }
  @media (max-widt: 767px) {

  } */
}
