@import '../../../scss/variables';
@import '../../../scss/mixins';

.item {
  display: flex;
  gap: 20px;
  align-items: center;
  @include for-size(mobile-only) {
    //align-items: flex-start;
  }
}