@import '../../../scss/variables';
@import '../../../scss//mixins';

.linksWrapper {
  display: flex;
  align-items: center;
}

.icon {
  fill: #a6abb9;
}

.icon:hover {
  fill: $hover-color;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.navLink {
  margin-left: 10px;
  color: $secondary-text-color;

  &:hover {
    color: $hover-color;
  }

  &:last-child {
    padding-left: 10px;
    border-left: 1px solid $accent-color;
  }
}

.logoutBtn {
  padding: 3px 0;
  margin: 0;
  border: none;
  background-color: transparent;
  color: $secondary-text-color;
  cursor: pointer;

  &:hover {
    color: $hover-color;
  }
}
