@import '../../scss/base.scss';

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 25px;
  box-shadow: $active-shadow;
  position: relative;
  z-index: 10;
}
