// ========== Fonts

@font-face {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
  src: url("../assets/fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  src: url("../assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  src: url("../assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/AbrilFatface-Regular.ttf") format("woff2");
}

// ========== Variables

// fonts
$primary-font: "Montserrat", sans-serif;
$secondary-font: "Abril Fatface", serif;

//  colors
$primary-text-color: #242a37;
$secondary-text-color: #898f9f;
$accent-color: #ff6b08;
$bg-color-blue: #f6f7fb;
$overlay-color: rgba(9, 30, 63, 0.8);
$light-grey: #b1b5c2;
$dark-grey: #6d7a8d;

$hover-orange: #d15807;

// shadow
$box-shadow: 0px 2px 3px rgba(9, 30, 63, 0.1);

// transition
$cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// ======== MIXINS

@mixin for-size($range) {
  $mobile: 320px;
  $tablet: 768px;
  $desktop: 1280px;

  @if $range == mobile-only {
    @media (max-width: #{$tablet - 1}) {
      @content;
    }
  } @else if $range == mobile {
    @media (min-width: $mobile) {
      @content;
    }
  } @else if $range == tablet {
    @media (min-width: $tablet) {
      @content;
    }
  } @else if $range == tablet-only {
    @media (max-width: #{$desktop - 1}) {
      @content;
    }
  } @else if $range == desktop-only {
    @media (max-width: #{$desktop - 1}) {
      @content;
    }
  } @else if $range == desktop {
    @media (min-width: $desktop) {
      @content;
    }
  }
}

// ======= Common

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $primary-font;
  font-size: 14px;
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;

  @include for-size(mobile) {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @include for-size(tablet) {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }

  @include for-size(desktop) {
    width: 1280px;
    padding-left: 114px;
    padding-right: 114px;
  }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
