@font-face {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: normal;
  src: url('../assets/fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: normal;
  src: url('../assets/fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: normal;
  src: url('../assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/AbrilFatface-Regular.ttf') format('woff2');
}