// fonts
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Abril Fatface', sans-serif;

//  colors
$primary-text-color: #242a37;
$secondary-text-color: #898f9f;
$accent-color: #ff6b08;
$bg-color-blue: #f6f7fb;
$bg-color-input: #f5f7fa;
$txt-color-white: #fff;
$overlay-color: rgba(9, 30, 63, 0.2);
$light-grey: #b1b5c2;
$dark-grey: #6d7a8d;
$icon-color: #a6abb9;
$table-line:  #e0e5eb;
$count-num: #091E3F;

$hover-color: #d15807;
$hover-btn-lib: #47566f;

// shadow
$outer-shadow: 0px 2px 3px rgba(9, 30, 63, 0.1);
$inner-shadow: inset 0px 1px 2px rgba(29, 29, 27, 0.15);
$active-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
// transition
$cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
