@import '../../../scss/mixins';
@import '../../../scss/variables';

.btn {
  all:unset;
  display: block;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.plus {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: $accent-color url(./assets/plus.svg) no-repeat center;

}

.add {
  border: 1px solid $primary-text-color;
  background-color: $bg-color-blue;
  width: 100%;
  min-height: 42px;
  &:hover {
    box-shadow: $active-shadow;
    border-color: $accent-color;
  }
}


.done {
  color: #ffffff;
  background-color: $accent-color;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  min-height: 40px;
  padding-left: 15px;
  padding-right: 15px;

  @include for-size(only-tablet) {
    width: 320px;
  }
  &:hover {
    background-color: $hover-color;
  }
} 
