@import '../../scss/variables';
@import '../../scss/mixins';

.mainWrapper {
  background-color: $bg-color-blue;
  min-height: calc(100vh - 60px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.containerWrap {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  @include for-size(desktop-only) {
    padding: 0 39px;
  }
  @include for-size(tablet-only) {
    padding: 0 45px;
  }
  @include for-size(mobile-only) {
    padding: 0 25px;
  }
}
