@import '../../scss/base.scss';

.carouselContainer {
  margin: 0 auto;
  width: 100%;

  // min-height: 500px;
  // @include for-size(tablet) {
  //   height: 600px;
  // }
  // @include for-size(desktop) {
  //   height: 650px;
  // }
}

.carouselItem {
  padding-bottom: 30px;
}
